{"graphicsSettings":{"renderer":"Lite","uiFixedResolutionPixelsHeight":720,"uiFixedResolutionPixelsWidth":1280,"uiFreeAspectResolutionSide":"Height","uiFreeResolutionPixels":720,"uiRenderPercentage":50,"uiResolutionEditor":{"depth":0,"open":true},"uiResolutionMode":"FreeAspectResolution"},"javaSettings":{"javaThreadTimeOutSeconds":5.0},"physicsSettings":{"filtersEditor":{"depth":0,"open":true},"layers":[{"guid":"ea33ad2cbcb34a68bf5b22b8b8830d18","ignoreLayers":[],"inspectorEditor":{"depth":0,"open":false},"isDefault":true,"name":"Default"}],"layersEditor":{"depth":0,"open":false}},"tab":"Physics","tagSystem":{"tags":[]}}